*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    height: 60px;
    background-color: #1d3044;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0rem;
    position: fixed;
    width: 100vw;
}
.app-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
}
.app{
    border: 1px solid red;
    max-width: 500px;
    width: 100%;
    padding: 1.5rem;
    background-color: aqua;
    border-radius: 0.7rem;
}

.app input{
    width: 260px;
    height: 34px;
    padding: 1.2rem;
    border-radius: 0.4rem;
    margin: 0.8rem;
    font-size: 1.2rem;
}
button{
    height: 40px;
    background-color: #3e46d7;
    color: #fff;
    width: 75px;
    border-radius: 0.4rem;
    padding: 0.2rem;
    font-size: 1.2rem;
}
.tasks{
    margin: 2rem 0rem;
    padding: 0rem;
}
.item.completed p{
    text-decoration: line-through;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.6rem 0rem;
    font-size: 1.2rem;
}
.item-btn .del{
    background-color: #e82921;
}
.item-btn .cross{
    background-color: green;
}
.item.active{

}
#add-list{
    pointer-events: none;
    opacity: .6;
}
#add-list.active{
    pointer-events: all;
    opacity: 1;
}
main{
    padding: 7rem 0rem;
}

footer{
    height: 80px;
    width: 100%;
    display: flex;
    margin-top: 7rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0rem 3rem;
    font-size: 1rem;
    background-color: #1d3044;
    color: #fff;
}
@media screen and (max-width:600px){
    .app{
        max-width: 400px;
        width: 100%;
        padding: 1.3rem;
        background-color: aqua;
        border-radius: 0.7rem;
    }
    .app input{
        width: 230px;
        height: 34px;
        padding: 1.2rem;
        border-radius: 0.4rem;
        margin: 0.8rem;
        font-size: 1.2rem;
    }
    header h1{
        font-size: 1.5rem;
        padding: 0.6rem;
    }
    footer{
        font-size: 0.9rem;
        padding: 0rem 2rem;
    }
}
@media screen and (max-width:450px){
    .app input{
        width: 100%;
        max-width: 200px;
    }
    button{
        width: 55px;
        font-size: 0.9rem;
        padding: 0.1;
    }
    .app-wrapper{
        padding: 1rem;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
   
}
@media screen and (max-width:360px) {
     #add-list{
        margin-left: 1rem;
    }
}





/*tags:place the content and format pages
meta tags:no correct answer
Default color
css:Cascading Style Sheets
someFunctions: returns the addition of two numbers
javascript: is used to add functionalities to web application
div.a{text-align:center}
constant doSomething: error thrown.
to embed css in a html page: <style>
to link external css file, we use: <link rel="stylesheet" href="style.css">
correct way to apply css in html page: all of the mentioned
correct way of calling javascript code: function/method
x===y: both are equal in value and data types
in javascript: division by zero is not an error
*/
